@font-face {
    font-family: 'WildWords';
    src: url('/font/NewWildWordsRoman.TTF') format('truetype');
}


body {
    font-family: 'WildWords';
    background-image: url("/images/fondopantalla/chiikawa_fondo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: 0;
    padding: 0;
}


#menu_lateral {
    width: 200px;
    position: sticky;
    top: 20px;
    background-color: #ffa600cb; 
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}



#menu_lateral p {
    margin: 10px 0;
}

#menu_lateral a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


#Encabezado {
    font-size: 30px;
    background-color: #30D5C8;
    text-align: center;
    width: 57%;
    border-radius: 5%;
    border: 5px solid #000;
    margin-left: 21%;
    margin-top: 20px;
    display: flex;         
    align-items: center;         
    justify-content: space-between; 
}

#Encabezado h1, 
#Encabezado p {
    margin: 0;
    text-align: center;
    flex: 1;
}

.usagi {
    width: 80px;
    height: auto;
}


.titulo, .titulo_2 {
    font-size: 15px;
    text-align: center;
    margin: auto;   
    margin-top: 7%; 
    width: 45%;
    border:5px solid #e41452;
    background-color: #FF94CF;
}

.titulo_2 {
    margin-top: 20%;
}

.texto{
    font-size: 15px;
    background-color: #42ecb3;
    text-align: center;
    margin: auto;
    margin-top: 2px;
    width: 50%;
    border:5px solid #6200ff;
}


.imagenes {
    width: 250px;
    height: 300px;
    margin: 20px;
    border: 1px transparent;
}


.clickable {
    width: 200px;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 10px auto;
    display: block;
}


.galeria-oculta {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000;
    overflow: auto;
}

.galeria-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.galeria-contenido img {
    width: 400px;
    height: 450px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.galeria-contenido img:hover {
    transform: scale(1.1);
}


.cerrar {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

#texto2 {

    margin-bottom: 30%;
}